﻿@model List<Database.Model.User> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}

<h1>Index</h1>
<table class="table">
    <thead>

        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên</th>
            <th scope="col">Tài khoản</th>
            <th scope="col">Mật khẩu</th>
            <th scope="col">Quyền</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model)
            {
                count++;
                <tr>
                <th scope="row">@count</th>
                <td>@item.UserName</td>
                <td>@item.UserAccount</td>
                <td>@item.UserPassword</td>
                <td>@item.permission.PermissionName</td>
                <td>
                    <a class="btn btn-info" href="#">
                        <i class="halflings-icon white edit"></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                        <i class="halflings-icon white trash"></i>
                    </a>
                </td>
            </tr>
            }
            
        
    </tbody>
</table>

