﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--model Services.Product

<h1> Ở đây là thông tin sản phẩm</h1>-->

@*@if (Model == null)
    {
        <div> khong thay san pham</div>
    }
    else
    {

    }*@
<!--<p><strong> Tên : Model.Name</strong></p>
<p> Giá: Model.Price</p>
<p> Mau: string.Join(",", Model.Colors)</p>
<p> Nhan hieu: Model.Brand</p>-->

