﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["122"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<style type="text/css">
    table, th, td {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
    }
</style>
<table>
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Gia</th>
            <th>Mau sac</th>
            <th>Nhan hieu</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            count++;*@
        <tr>
            <td>count</td>
            <td class="center">item.Name</td>
            <td class="center">item.Price</td>
            <td class="center">string.Join(",",item.Colors)</td>
            <td class="center">item.Brand</td>
            <td class="center">
                <a class="btn btn-info" href="#">
                    <i class="halflings-icon white edit"></i>
                </a>
                <a class="btn btn-danger" href="#">
                    <i class="halflings-icon white trash"></i>
                </a>
            </td>
        </tr>
        @*}*@
    </tbody>
</table>
