﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"> -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand fw-bold" href="#">
                Trang chủ
            </a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                         width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="#">Đăng xuất</a>
                </div>
            </div>
        </div>
    </nav>
    <main class="d-flex mt-2 container">
        <div class="menu bg-dark">
            <ul class="list-menu list-unstyled">
                <li class="menu-item pt-2"><a href="#" class="nav-link">Quản trị người dùng</a></li>
                <li class="menu-item pt-2"><a href="#" class="nav-link">Quản trị trẻ em</a></li>
                <li class="menu-item pt-2"><a href="#" class="nav-link">Quản trị cuộc gọi</a></li>
                <li class="menu-item pt-2"><a href="#" class="nav-link">Báo cáo</a></li>
            </ul>
        </div>
        <div class="content w-100 ms-3 p-3">
            <h2 class="content-header"> @ViewData["Title"]</h2>
            <div class="box span12">
                <div class="box-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <!-- <script src="./bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>